.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 9rem);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9rem;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
